# Logs
/FrontEnd/logs
/FrontEnd/*.log
/FrontEnd/npm-debug.log*
/FrontEnd/yarn-debug.log*
/FrontEnd/yarn-error.log*
/FrontEnd/pnpm-debug.log*
/FrontEnd/lerna-debug.log*
/FrontEnd/dist
/FrontEnd/dist-ssr
/FrontEnd/*.local

# Editor directories and files
/FrontEnd/.vscode/*
/FrontEnd/!.vscode/extensions.json
/FrontEnd/.idea
/FrontEnd/.DS_Store
/FrontEnd/*.suo
/FrontEnd/*.ntvs*
/FrontEnd/*.njsFrontEnd/*.sln
/FrontEnd/*.sw?


.env
/BackEnd/node_modules
/FrontEnd/node_modules